body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    margin-top: 0;
}

form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie elementów w osi X */
}

form.expanded {
    height: auto;
}

label {
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
}

button {
    padding: 8px; /* Zmniejszenie paddingu */
    background-color: #fff;
    color: #00703c;
    border: 1px solid #00703c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: calc(100% - 20px);
}

button:hover {
    background-color: #00703c;
    color: #fff;
}

#result {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

#result.active {
    display: block;
}
